
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: linear-gradient(135deg, #3152e4, #3c1c5b);
      margin: 0;
    }

    .signup-container {
      background: rgba(206, 191, 191, 0.324);
      padding: 30px;
      border-radius: 30px;
      box-shadow: 4px 6px rgba(0, 0, 0, 0.392);
      width: 400px;
    }

    .signup-container h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    input {
      width: 95%;
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #ad7676;
      border-radius: 5px;
    }

    button {
      width: 100%;
      padding: 10px;
      background: #4CAF50;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background: #0e6e13;
    }

    .error {
      color: red;
      font-size: 14px;
    }

    .success {
      color: green;
      font-size: 14px;
    }